/game/saves
/game/audio
/game/cache
/game/gui
/game/images

# compiled files
*.py[cod]
*.rpy[codb]
*.rpymc

# logs
/errors.txt
/log.txt
/traceback.txt
/progressive_download.txt
/project.json

# Local debugs
HitonasAdventure-32.exe
lib
renpy
HitonasAdventure.exe
HitonasAdventure.py
